

  body {
   font-family:'Helvetica',sans-serif;
   color:black;
   font-weight: 300;
  }

  a, td, #app select, label, #app info-ctn {
    font-weight: 300;
  }

  .btn {
    font-weight: 400 !important;
  }

  #app a{
    color:#5099b5;
  
  }

  .navbar-brand img {
    max-width:400px;
    padding-left:20px;
  }

  .wrapper{
    background-color:#f7f7f7;
  }

.circ-name{
   font-size: 30px;
    color: #4c5f6b;
    line-height: 35px;
}
 

  .circ:hover{
    fill: #4c5f6b;
    cursor:pointer;
    
  }

  

  .circ.selected {
    fill:#4c5f6b;
  }

  .blue1 , .blue2, .blue3, .blue4, .blue5{
    fill:#b8ccd5;
  }

  /*
  .blue1{
    fill: #015B98;
    }
  .blue2{
    fill: #014776;
  }
  .blue3{
    fill: rgb(18, 97, 150);
  }
  .blue4{
    fill: #1198f3;
  }
  .blue5{
    fill: #2F89C5;
  }
*/


  .card-header{
    background-color:#0e98f32e;
  }




.btn.btn-blue {
  background-color: #b8cdd5;
  border-color: #b8cdd5;
  text-align:left;
  font-size:16px;
  font-weight:500;
  color:#4c5f6b;
  text-transform: uppercase;
}

.btn.btn-blue:hover, .btn.btn-blue.selected{
  cursor:pointer;
  background-color:#4c5f6b;
  color:#fff;
}

.c-map {
  width:100%;
  max-height:700px;
}


.map-ctn{
  text-align:center;
}

.wrapper{
  padding:20px;
}

#app .card {
  background-color:#f0f0f0;
  border:none;
}

#app .card-header{
  border:none;
  background-color:#f0f0f0 !important;
}

#app .card-body{
  padding: 0 0.8rem;
}

#app .card hr {
  margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-top: 1px solid #d8d8d9;
}



.const-ctn{
  display:table;
  min-height:70px;
}

.const-no-block{
  background-color:#4c5f6b;
  color:#fff;
  width: 65px;
  height:65px;
  font-size:40px;
  font-weight:500;
  text-align:center;
  border-radius:5px;
}

.const-name{
  font-size:30px;
  color:#4c5f6b;
  line-height:35px;
  padding-left:18px;
}

.const-no, .const-name {
  display:table-cell;
  vertical-align:middle
}

.info-ctn{
  display:table;
  font-size:13px;
  width: 100%;

}

#app table{
  font-size:13px;
}

#app .table-sm td, .table-sm th {
    padding: .15rem;
}


#app tr td:last-child, #app tr th:last-child{
  text-align:right
}

.ret-name, .ret-pic, .vote-info {
display:table-cell;
}

.ret-name{
  max-width:140px;
  min-width: 140px;

}

.ret-officer{
  font-weight:bold;
}

.vote-info, .ret-name {
  vertical-align: middle;
  padding:10px 0;

}

.vote-info {
  padding-left:10px;

}

.ret-pic {
  background-color:#e4e4e4 ;
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
  width:100px;
  height:auto;
}

/* results */

.prev-results-header {
  font-size:30px;
  font-weight:bold;
}

.year-ctn {
  width:100%;
}
.btn.year-select {
  text-align:center;
}
.year-select.selected{
  background-color:#4c5f6b;
  color:#fff;
}

button.year-select:focus, button.year-select:hover {
  background-color:#4c5f6b;
  color:#fff;
  box-shadow:none;
}

/* cand table */

#app .cand-ctn table td, #app .cand-ctn table th  {
  vertical-align:middle;
  padding: .2rem;
}

#app .cand-ctn table svg {
  width: 25px;
  height: 25px;
}
