.table-responsive {
    display: table;
}

  body {
   font-family:'Helvetica',sans-serif;
   color:black;
   font-weight: 300;
  }

  a, td, #app select, label, #app info-ctn {
    font-weight: 300;
  }

  #tooltip {
  background: #f0f0f0;
  border: 1px solid #4c5f6b;
  border-radius: 5px;
  padding: 4px;
  font-size:13px;
}

 #tooltip:hover {
  cursor:pointer;
 }

  .btn {
    font-weight: 400 !important;
  }

  #app a{
    color:#3a8ee4;
  
  }

  .navbar {
    background-color:#f5f5f5;
  }

  .navbar .logo{
    max-width:287px;
  }

  .wrapper{
    background-color:#202c34;
  }

.circ-name{
   font-size: 30px;
    color: #fff;
    line-height: 35px;
}
 

  .circ:hover{
    fill: #3a8ee4;
    cursor:pointer;
    
  }

  

  .circ.selected {
    fill:#3a8ee4;
  }

  .blue1 , .blue2, .blue3, .blue4, .blue5{
    fill:#1f4464;
  }

  /*
  .blue1{
    fill: #015B98;
    }
  .blue2{
    fill: #014776;
  }
  .blue3{
    fill: rgb(18, 97, 150);
  }
  .blue4{
    fill: #1198f3;
  }
  .blue5{
    fill: #2F89C5;
  }
*/


 


.btn.btn-blue {
  background-color: #204564;
  border-color: #204564;
  text-align:left;
  font-size:16px;
  font-weight:500;
  color:#fff;
  text-transform: uppercase;
  transition: color .25s,border-color .25s;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.16);
  transition: all 0.3s ease 0s;
}

.btn.btn-blue:hover, .btn.btn-blue.selected{
  cursor:pointer;
  background-color:#3a8ee4;
  border-color:#3a8ee4;
  color:#fff;
}


.c-map {
  width:100%;
  max-height:700px;
}


.map-ctn{
  text-align:center;
}

.wrapper{
  padding:20px;
}

#app .card {
  background-color:#f0f0f0;
  border:none;
}



#app .card-body{
  padding: 0 0.8rem;
}

#app .card hr {
  margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-top: 1px solid #d8d8d9;
}



.const-no-block{
  background-color:#3b78b2;
  color:#fff;
  width: 65px;
  height:65px;
  font-size:40px;
  font-weight:500;
  text-align:center;
  border-radius:5px;
}



.info-ctn{
  display:table;
  font-size:13px;
  width: 100%;

}

#app table{
  font-size:13px;
}

#app .table-sm td, #app .table-sm th {
    padding: .15rem;
}


#results-table tr:first-child td{
  font-weight:600 !important;

}

#results-table tr:nth-child(2) td{
  font-weight:600 !important;
 
}

#results-table tr:nth-child(3) td{
  font-weight:600 !important;
 
}


#app tr td:last-child, #app tr th:last-child{
  text-align:right
}

.ret-name, .ret-pic, .vote-info {
display:table-cell;
}

.ret-name{
  max-width:140px;
  min-width: 140px;

}

.ret-officer{
  font-weight:bold;
}

.vote-info, .ret-name {
  vertical-align: middle;
  padding:10px 0;

}

.vote-info {
  padding-left:10px;

}

.ret-pic {
  background-color:#e4e4e4 ;
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
  width:100px;
  height:auto;
}

/* results */

.prev-results-header {
 font-size: 30px;
    color: #4c5f6b;
    line-height: 35px;
}



#app .btn-group  {
  width:100%;
}


#app .btn-group .btn{
  text-align:center;
  border-left-color:#345e80;
}



.year-select.selected{
  background-color:#4c5f6b;
  color:#fff;
}

button.year-select:focus, button.year-select:hover {
  background-color:#4c5f6b;
  color:#fff;
  box-shadow:none;
}

/* cand table */

#app .cand-ctn table td, #app .cand-ctn table th  {
  vertical-align:middle;
  padding: .2rem;
}

#app .cand-ctn table svg {
  width: 25px;
  height: 25px;
}

#app .cand-ctn table .gender svg {
  width: 15px;
  height: 15px;
}

@media (max-width: 768px) { 

  #app .wrapper {
    padding:0 0;
  }

  .navbar-brand, .navbar-right  {
    width:100%;
    text-align:center;
  }

  .navbar-brand .logo {
   display:block;
   max-width:100%;

   margin:0 auto;
  }



 }

 @media (min-width: 1024px) { 

  #app .card-header{
    min-height:94px;
  }


 }

 @media (max-width: 375px) { 

  #app .card-body{
    padding:0 0.2rem;
  }

  .const-name, .prev-results-header , .circ-name{
    font-size: 18px;

    line-height: 20px;

}

body#app, {
    font-size:10px;
  }

  #app .vote-info {
    font-size:10px;

  }

#app .ret-pic{
    width:70px;
  }

#app .card-header {
    padding: 0.5rem 0.5rem;
}

  #app .btn-block, #app .btn.btn-blue, #circ-select{
    font-size:12px;
    line-height:14px;
  }

  #app .gender{
    display:none;
  }

  #app table td,   #app table th{
    padding: 0;
    font-size:10px;
  }

 }

 .btn.btn-blue:hover i,  .btn.btn-blue.selected i {
   border: solid #fff;
   border-width: 0 2px 2px 0;
}


 .icon {
  float:right;
  overflow:hidden;
  font-weight:900;
 }

 .icon:after{
  content:'\002B';
 }

 .icon.open:after{
  content:'\2212';
 }

 #back-top-btn {
  display: inline-block;
  background-color: #35424a;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#back-top-btn::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#back-top-btn:hover {
  cursor: pointer;
  background-color: #333;
}
#back-top-btn:active {
  background-color: #555;
}
#back-top-btn.show {
  opacity: 1;
  visibility: visible;
}


#app .card-header{
  background-color:#1c4564;
  color:#fff;
}

.card-header-ctn{
  display:table;
  min-height: 70px
}

.card-header-title{
  font-size: 30px;
    line-height: 35px;
    padding-left: 18px;
}

.icon-block {
  background-color: #3b78b2;
    min-width: 65px;
    max-height: 65px;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
}


.icon-block svg {
 width:40px;
  height:40px;
}

.icon-block, .card-header-title {
  display:table-cell;
  vertical-align: middle;
}

#app tr.withdrawn {
background-color: #202d34;


}

#app table tr.withdrawn td
{
   background-image: linear-gradient(to bottom right,  transparent calc(50% - 1px), #eb2e30, transparent calc(50% + 1px)); 
}


#app tr.withdrawn:hover {
background-color: initial;
}

#app tr.withdrawn td:nth-of-type(3n):before {
content:'WITHDRAWN';
color:#fff;
}



#app tr.withdrawn:hover svg {
visibility:initial; 

}

#app tr.withdrawn svg {
visibility:hidden; 


}



/* footer */
.footer {
  padding:10px;
  font-size:12px;
  line-height:14px;
  font-weight:bold;
  color:#fff;
  background-color:#2c455a;
}

.footer .logo {
  max-width:157px;
  margin-bottom:20px;
}

.lb24-liveblog-white-label, .lb24-liveblog-white-label-logo{
  display:none !important;
}

.lb24-component-placeholder a {
display:none !important;
}

